<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="hibernate.cfg.xml">
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/PSESoSe17Gruppe4</property>
		<property name="hibernate.connection.username">PSESoSe17User4</property>
		<property name="hibernate.connection.password">w5q8zurebuZ7vEpe</property>
		
		<property name="hbm2ddl.auto">create</property>
		<mapping class="Database.User"/>
		<mapping class="Database.Event"/>
		<mapping class="Database.EventUserRelation"/>
	<!-- port 3306 -->
	<!-- connection url_old = https//i43pc164.ipd.kit.edu:3306/PSESoSe17Gruppe4 -->
	<!-- hostname = i43pc164 -->
	</session-factory>
</hibernate-configuration>