<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>FrontServlet</servlet-name>
        <servlet-class>FrontController.FrontServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>AuthentificationTestServlet</servlet-name>
        <servlet-class>FrontController.AuthentificationTestServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>RequestTestServlet</servlet-name>
        <servlet-class>FrontController.RequestTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontServlet</servlet-name>
        <url-pattern>/FrontServlet</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>AuthentificationTestServlet</servlet-name>
        <url-pattern>/AuthentificationTestServlet</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>RequestTestServlet</servlet-name>
        <url-pattern>/RequestTestServlet</url-pattern>
    </servlet-mapping>
</web-app>